body{
    background-color: rgb(56, 103, 111);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    text-align: center;
}
section{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.398);
    align-items: center;
    justify-content: center;
    display: flex;         
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
